html, body {
    height: 100%;
    width: 100%;
}
.intro {
    color: white;
    background: linear-gradient(
      rgba(255, 130, 67, 0.8), 
      rgba(255, 130, 67, 0.6)
    ), url(../resources/city.jpg);
    font-family: 'Montserrat',sans-serif;
    padding-top: 160px;
    height: 125%;
    padding-bottom: 0px;
    margin-top: px;
}
#wrap {
    width: 100%;
}
.salutation {
    height: 100%;
    font-size: 40pt;
}
img {
    padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    float: left;
}
.my-pic {
    padding-left: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 150px;
    float: left;
}
.logo {
    margin-top: 6px;
    margin-left: 22px;
    padding: 0px;
}
.navbar-fixed-top .navbar-collapse .navbar-nav > li > a {
    color: black;
}
.navbar-fixed-top .navbar-collapse .navbar-nav > li > a:hover {
    color: white;
    background-color:deepskyblue;
}
.navbar-fixed-top .navbar-collapse .navbar-nav > li > a:focus {
    color: white;
    background-color:deepskyblue;
}
.navbar-right {
    font-size: 15pt;
    padding-top: 6px;
    padding-bottom: 0px;
    font-weight: bold;
    
}
.navbar-fixed-top {
    background-color: white;
    font-size: 15pt;
    font-family: 'Open Sans',sans-serif;
    padding: 0px 20px;
    margin-bottom: 0px;
}
.about-me {
    height: 120%;
    padding-top: 125px;
    margin-top: -95px;
    background-image: linear-gradient(
      rgba(73, 151, 208, 0.5), 
      rgba(73, 151, 208, 0.5)
    ), url(../resources/bristol-night.jpg);
    background-color: #00CD00;
    color: white;
    font-weight: bold;
}
.about-me-title {
    height: 25%;
    font-family: 'Montserrat',sans-serif;
    font-size: 30pt;
    text-align: center;
}
.about-me-description {
    height: 75%;
    font-family: 'Open Sans';
    font-size: 20pt;
    text-align: justify;
    padding-left: 80px;
    padding-right: 80px;
}
.skills {
    height: 120%;
    background-color: gold;
    color: black;
    margin-top: -95px;
    padding-top: 125px;
}
.skills-title {
    height: 15%;
    font-family: 'Montserrat',sans-serif;
    font-size: 30pt;
    text-align: center;
}
.lower-skills {
    height: 30%;
    padding-left: 70px;
    padding-right: 0px;
}
.skills-body {
    height: 105%;
}
.upper-skills {
    height: 30%;
    padding-left: 90px;
    padding-right: 0px;
}

.portfolio {
    height: 120%;
    background-color: firebrick;
    color: white;
    margin-top: -95px;
    padding-top: 125px;
}
.portfolio-title {
    height: 25%;
    font-family: 'Montserrat',sans-serif;
    font-size: 30pt;
    text-align: center;
}
.resume {
    height: 100%;
    color: white;
    margin-top: -95px;
    padding-top: 125px;
    background-color: forestgreen;
    font-family: 'Montserrat',sans-serif;
    font-size: 30pt;
    text-align: center;
}
.resume-title {
    height: 25%;
}
.view-resume {
    margin-top: 50px;
    background-color: black;
    padding: 10px;
    border-color: forestgreen;
}
.view-resume:hover {
    color: forestgreen;
    background-color: white;
    border-color: white;
}
.contact {
    height: 100%;
    background-color: black;
    color: white;
    margin-top: -95px;
    
}
.get-in-touch {
    height: 93%;
    width: 50%;
    padding-top: 125px;
    font-family: 'Montserrat',sans-serif;
    font-size: 30pt;
    text-align: center;
    float: left;
    background-color: deepskyblue;
}
.email {
    height: 43%;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 19pt;
}
#email img {
    margin-left: 200px;
}
.phone {
    height: 30%;
    width: 100%;
    text-align: center;
    
    font-size: 19pt;
}
#phone img {
    margin-left: 200px;
}
.social-media {
    height: 93%;
    width: 50%;
    float: right;
    padding-top: 125px;
    font-family: 'Montserrat',sans-serif;
    font-size: 30pt;
    text-align: center;
    background-color: purple;
}
#social-media img {
    
}
.social-media-buttons {
    padding-top: 40px;
    padding-left: 50px;
    height: 73%;
}
.copyright {
    font-family: 'Montserrat',sans-serif;
    font-size: 15pt;
    text-align: center;
    color: lightgray;
    line-height: 2.3;
}
