html, body {
    height: 100%;
}
a, a:visited, a:hover {
    color: black;
}
img {
        width: 100px;
}
p, ul {
    font-size: 19px;
    font-family: 'Roboto Condensed', sans-serif;
}
h1 {
        font-size: 60px;
}
h2 {
        font-size: 40px;
}
h3 {
    font-size: 30px;
}
.landing-page {
    background-repeat: no-repeat;
    padding-top: 22%;
}
/*
Media queries for responsive text
*/
@media only screen and (min-width: 600px) {    
    img {
        width: 120px;
    }
    h1 {
        font-size: 80px;
    }
    h2 {
            font-size: 50px;
    }
    h3 {
        font-size: 30px;
    }
    .landing-page {
        padding-top: 12%;
    }

}
@media only screen and (min-width: 768px) {
    img {
        width: 160px;
    }
    p {
        font-size: 20px;
    }
}
.navbar-brand {
    padding: 0px;
}
.logo {
    width: 70px;
    padding: 0px;
}
.main-navbar {
    background: black;
    font-size: 12pt;
    font-family: 'Montserrat',sans-serif;
    margin: 0px;
}
/*
Common properties
*/
.section-title {
    border-bottom: 1px;
    border-bottom-style: solid;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    text-align: left;
    margin-bottom: 4%;
}
.about-me, .projects, .experience, .contact, .resume{
    padding-top: 5%;
    padding-bottom: 4%;
}
.skills {
    padding-top: 5%;
}
.about-me {
    background-color:  #1f285a;
}
/*
Section specific properties
*/
.my-image {
    width: 200px;
}
.landing-page {
    color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2), 
        rgba(0,0,0, 0.2)
    ), url(../resources/aurora.jpg);
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 13%;
}
.learn-more {
    padding: 5px 20px;
    font-size: 15pt;
    -moz-border-radius: 15px;
  -webkit-border-radius: 95px;
    color: black;
    background: rgba(255,255,255,1);
    border-style: none;
    transition-property: background-color, color;
    transition-duration: 0.3s, 0.3s;
}
.learn-more:hover {
    color: white;
    background-color: #009688;
}
.about-me {
    margin-top: 0px;
    /*background-image: linear-gradient(
      rgba(73, 151, 208, 0.5), 
      rgba(73, 151, 208, 0.5)
    ), url(../resources/bristol-night.jpg);
    */
    color: white;
}
.about-tagline {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.projects {
    color: #1f285a;
    border-bottom-color: orangered;
}
.project-list {
    padding-top: 2%;
    color: #1f285a;
}
.project-title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 2%;
    margin-left: 10%;
    margin-right: 10%;
}
.project-git {
    font-size:36px;
    text-align: center;
}
.project-description {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 8%;
    text-align: left;
}
.project-image {
    width: 250px;
    padding-top: 10%;
}
.project-list-bunny {
    background: url(../resources/task_bunny.png);
    background-size: cover;
}
.task-bunny-image {
    width: 700px;
    padding-top: 10%;
}
.book-it-image {
   width: 700px;
   padding-top: 10%;
}
.resume {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
.resume-button {
    background-color: white;
    border-style: solid;
    padding: 1% 2% 1% 2%;
    border: 2px 2px 2px 2px;
    border-color: #1f285a;
    color: #1f285a;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}
.resume-button:hover {
    background-color: #1f285a;
    color: white;
}
.skills {
    color: #1f285a;//#eee;
}

.skill-title {
    display: inline-block;
    vertical-align: middle; 
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    text-align: center;
}
.skill-description {
    /*
    border: 2px;
    border-color: white;
    border-style: solid;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    */
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    height: 300px;
    //line-height: 250px;
    color: white;
}

.skill-1, .skill-3, .skill-5 {
    background-color: #2c387e;
}
.skill-2, .skill-4, .skill-6 {
    background-color: #1f285a;
}
.experience {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1f285a;
}
.experience-image {
    width: 100px;
    height: 100px;
}
.experience-image-content {
    text-align: right;
}
.experience-title {
    border-bottom-color: white;
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 1%;
    margin-bottom: 0px;
}
.experience-section {
    padding-top: 2%;
    padding-bottom: 2%;
}
.experience-description {
    text-align: left;
    padding-left: 0px;
}
.contact {
    color: white;
    background: #1f285a;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto Condensed', sans-serif;
}
.contact-form-element, .contact-form-submit {
    padding: 1% 1% 1% 1%;
    background-color: rgba(255,255,255,0.0);
    margin: 5% 5% 0% 5%;
    border-color: white;
    border-width: 1px;
    font-size: 25px;
    font-color: white;
    width: 40%;
}
::-webkit-input-placeholder {
    color: white;
}
.contact-form-element {
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    border-bottom-style: solid;
}
.contact-form-submit {
    border-style: solid;
}
.contact-content {
    text-align: center;
    padding-top: 2%;
    color: white;
}
.social-media{
    color: white;
    display: inline;
    transition: color 0.3s;
}
.social-media:hover{
    color:black;
    display: inline;
}